<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Applications | Industrial Explorer</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/view-applications.css') }}">
</head>
<body>

<header class="top-header">
  <div class="logo">Industrial Explorer</div>
  <nav>
    <a href="#">Home</a>
    <a href="#">Job portal</a>
    <a href="#">B2b Trade</a>
    <a href="#">Profile</a>

  </nav>
</header>

<div class="container">

  <h2>Applications for: Machine Operator</h2>
  <p class="sub">Chakan MIDC</p>

  <!-- APPLICATION CARD -->
  <div class="app-card">
    <div class="info">
      <h4>Ramesh Patil</h4>
      <p>Skill: Machine Operator</p>
      <p>Experience: 2 Years</p>
      <p>Applied: Today</p>
    </div>

    <div class="actions">
      <a href="tel:+919876543210" class="call">Call</a>
      <a href="https://wa.me/919876543210" class="whatsapp">WhatsApp</a>
    </div>
  </div>

  <div class="app-card">
    <div class="info">
      <h4>Suresh Jadhav</h4>
      <p>Skill: Factory Worker</p>
      <p>Experience: Fresher</p>
      <p>Applied: Yesterday</p>
    </div>

    <div class="actions">
      <a href="tel:+919812345678" class="call">Call</a>
      <a href="https://wa.me/919812345678" class="whatsapp">WhatsApp</a>
    </div>
  </div>

</div>

</body>
</html>
